Description for TYPO3.Flow.session.cookie.domain leads to fatal error

Jira issue originally created by user sregniet:

Actually a Flow issue, but it occured within a Neos usecase, i.e. enabling a user on a multi-domain-setup to login once and being logged in accross all instances as long as there is a common subdomain available.

**The problem:**
Setting the configuration parameter
`TYPO3.Flow.session.cookie.domain`
with the "dot notation" as described in 
`Packages/TYPO3.Flow/Configuration/Settings.yaml`
leads to a fatal error: "must be a valid domain as per RFC 6265, Section 4.1.2.3."

**Example:**
`domain: '.edit.testserver.com'` -> Fatal Error
`domain: 'edit.testserver.com'` -> Does work, login across subdomains, the resulting cookie-domain actually is '.edit.testserver.com'


 Jira-URL: https://jira.neos.io/browse/NEOS-1279